includes:
	- phpstan-baseline.neon
parameters:
    level: 5
    scanFiles:
        - knowledgebase.php
    scanDirectories:
        - includes
    paths:
        - knowledgebase.php
        - uninstall.php
        - includes/
    ignoreErrors:
