includes:
    - phpstan-baseline.neon
parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - knowledgebase.php
        - uninstaller.php
        - load-freemius.php
        - includes/
    scanFiles:
        - knowledgebase.php
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    scanDirectories:
        - includes
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
