.wzkb {
	width: 100%;
	margin: 10px 0;
}

.wzkb:after, .wzkb_master_section:after {
	content: "";
	display: table;
	clear: both;
}

.wzkb h3 a, .wzkb h4 a {
	color: #333;
	text-decoration: none;
	border: 0;
}

.wzkb h3.wzkb_section_name {
	font-size: 20px;
}

.wzkb h3.wzkb-section-name-level-0,
.wzkb h3.wzkb-section-name-level-1 {
	font-size: 28px;
}

.wzkb h3.wzkb-section-name-level-2 {
	border-bottom: 1px solid #666;
	font-size: 24px;
}

.wzkb-articles-list {
	margin: 0 !important;
	padding: 0 !important;
}

.wzkb-articles-list li {
	margin: 5px 0;
	list-style-type: none !important;
}

.wzkb-articles-list li:before {
	content: "\f123";
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 1;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	text-align: center;
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 10px;
	word-wrap: break-word;
	color: #666;
}

/* Set up the responsive grid based on http://www.responsivegridsystem.com/ /*
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
	content:""; display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
	.span_2_of_2, .span_1_of_2 {
		width: 100%;
	}
}

/* Archive styles */
.content-area {
	margin: 0 auto;
	max-width: 1366px;
}
.wzkb-search-form {
	border: #ddd 1px solid;
	padding-left: 10px;
	position: relative;
	padding-right: 12px;
	margin: 20px 0;
	font-size: 1.3em;
	width: 100%;
}
.wzkb-search-form label {
	width: 100%;
}
input.wzkb-search-field {
	border: none;
	color: #555;
	font-family: 'Open Sans',sans-serif;
	font-size: 1em;
	padding: 10px 6px 10px 45px;
	width: 100%;
	background: url('../images/search-icon.png') no-repeat 0 10px;
	outline: none;
}
input.wzkb-search-submit {
	display: none;
}
.wzkb-search-form .screen-reader-text {
	position: absolute;
	clip: rect(0 0 0 0);
}
nav.pagination {
	width: 100%;
	margin: 15px 0;
	padding: 15px 0;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	text-align: center;
}
