.wzkb {
    width: 100%;
    margin-bottom: 10px;
}

.wzkb:after, .wzkb_master_section:after {
	content: "";
	display: table;
	clear: both;
}

.wzkb h3 a, .wzkb h4 a {
	color: #333;
	text-decoration: none;
	border: 0;
}

h3.wzkb-master-section-name {
	margin: 30px 0 20px 0;
	clear: both;
}

h4.wzkb_section_name {
	margin: 0;
	clear: both;
}

li.wzkb-section-level-1 {
    list-style-type: none;
    float: left;
    width: 49%;
    margin: 0 8px 0 0;
    padding-left: 0px;
}

li.wzkb-section-level-1:last-of-type {
	margin-right: 0;
}

h4.wzkb-section-name-level-1 {
    margin: 0 0 16px 0;
    padding-left: -5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
}

h4.wzkb-section-name-level-1:before {
	content: "\f318";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 1.2em/1 'dashicons';
	margin-right: 10px;
	word-wrap: break-word;
}

ul.wzkb_section_wrapper {
	padding: 0;
	width: 100%;
}

.wzkb_section {
	list-style-type: none;
}

ul.wzkb-articles-list {
    list-style-type: none;
    margin: : 0;
    padding-left: 5px;
}

li.wzkb-article-name {
    list-style-type: none;
    margin: 0;
}

li.wzkb_section {
    list-style-type: none;
    margin-left: 0;
}

.wzkb-articles-list li:before {
	content: "\f123";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 1.2em/1 'dashicons';
	margin-right: 10px;
	word-wrap: break-word;
}

p.wzkb-article-footer {
	margin: 0;
}

