.wzkb {
    width: 100%;
    margin: 10px 0;
}

.wzkb:after, .wzkb_master_section:after {
    content: "";
    display: table;
    clear: both;
}

.wzkb h3 a, .wzkb h4 a, .wzkb h3 a:visited, .wzkb h4 a:visited {
    color: #333;
    text-decoration: none;
    border: 0;
}

.wzkb h3.wzkb_section_name {
    font-size: 20px;
}

.wzkb-section-name-level-1 {
    border-bottom: 1px black dotted;
    border-top: 1px black dotted;
    padding: 5px 1px;
    background-color: ghostwhite;
    margin-top: 30px;
}

.wzkb h3.wzkb-section-name-level-0, .wzkb h3.wzkb-section-name-level-1 {
    font-size: 28px;
}

.wzkb h3.wzkb-section-name-level-2 {
    border-bottom: 1px solid #666;
    font-size: 24px;
}

.wzkb-articles-list {
    margin: 0 !important;
    padding: 0 !important;
}

.wzkb-articles-list li {
    margin: 5px 0;
    list-style-type: none !important;
}

.wzkb-articles-list li:before {
    content: "\f123";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    word-wrap: break-word;
    color: #666;
}

.wzkb_section_count {
    display: block;
    float: left;
    margin: 0;
    padding: 2px;
    border: 0;
    background: orange;
    border-radius: 45%;
    text-align: center;
    font-size: 70%;
    min-width: 36px;
}

/* Set up the responsive grid based on http://www.responsivegridsystem.com/ /*
/*  SECTIONS  */
.section {
    clear: both;
    padding: 0;
    margin: 0;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: right;
    margin: 1% 1.6% 1% 0;
}

.col:first-child {
    margin-right: 0;
}

/*  GROUPING  */
.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

/*  GRID OF TWO  */
.wzkb_section.span_2_of_2 {
    width: 100%;
}

.wzkb_section.span_1_of_2 {
    width: 49.2%;
}

.wzkb_section.span_1_of_2:nth-child(2n+1) {
    clear: right;
    margin-right: 0;
}

/*  GRID OF THREE  */
.wzkb_section.span_3_of_3 {
    width: 100%;
}

.wzkb_section.span_2_of_3 {
    width: 66.13%;
}

.wzkb_section.span_1_of_3 {
    width: 32.26%;
}

.wzkb_section.span_1_of_3:nth-child(3n+1) {
    clear: right;
    margin-right: 0;
}

/*  GRID OF FOUR  */
.wzkb_section.span_4_of_4 {
    width: 100%;
}

.wzkb_section.span_3_of_4 {
    width: 74.6%;
}

.wzkb_section.span_2_of_4 {
    width: 49.2%;
}

.wzkb_section.span_1_of_4 {
    width: 23.8%;
}

.wzkb_section.span_1_of_4:nth-child(4n+1) {
    clear: right;
    margin-right: 0;
}

/*  GRID OF FIVE  */
.wzkb_section.span_5_of_5 {
    width: 100%;
}

.wzkb_section.span_4_of_5 {
    width: 79.68%;
}

.wzkb_section.span_3_of_5 {
    width: 59.36%;
}

.wzkb_section.span_2_of_5 {
    width: 39.04%;
}

.wzkb_section.span_1_of_5 {
    width: 18.72%;
}

.wzkb_section.span_1_of_5:nth-child(5n+1) {
    clear: right;
    margin-right: 0;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0;
    }

    .span_2_of_2, .span_1_of_2, .span_1_of_3, .span_2_of_3, .span_3_of_3, .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4, .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 {
        width: 100%;
    }
}

/* Archive styles */
#wzkb-content-primary {
    margin: 0 auto;
    max-width: 1366px;
    display: block;
}

#wzkb-sidebar-primary {
    float: left;
    margin-right: -100%;
    max-width: 413px;
    position: relative;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
    #wzkb-sidebar-primary, #wzkb-content-primary {
        float: none !important;
        width: 98% !important;
        margin-right: 0;
    }
}

#wzkb-sidebar-primary .widget {
    padding: 20px;
    margin-top: 10px;
}

#wzkb-sidebar-primary .widget ul {
    margin-right: 10px;
}

#wzkb-sidebar-primary .widget ul li {
    margin-right: 10px;
    list-style-type: disc;
}

.nav-previous {
    float: right;
}

.nav-next {
    float: left;
}

.wzkb-search-form {
    border: #ddd 1px solid;
    padding-right: 10px;
    position: relative;
    padding-left: 12px;
    margin: 20px 0;
    font-size: 1.3em;
    width: 95%;
}

.wzkb-search-form label {
    width: 100%;
}

input[type="search"].wzkb-search-field {
    border: none;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 10px 45px 10px 6px;
    width: 100%;
    background: url(../images/search-icon.png) no-repeat 100% 5px;
    outline: none;
}

input[type="submit"].wzkb-search-submit {
    display: none;
}

.wzkb-search-form .screen-reader-text {
    position: absolute;
    clip: rect(0 0 0 0);
}

nav.pagination {
    width: 100%;
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    text-align: center;
}

/* Alert CSS */
.wzkb-alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.wzkb-alert-heading {
    color: inherit;
}

.wzkb-alert-link {
    font-weight: 700;
}

.wzkb-alert-dismissible {
    padding-left: 4rem;
}

.wzkb-alert-dismissible .close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.wzkb-alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.wzkb-alert-primary hr {
    border-top-color: #9fcdff;
}

.wzkb-alert-primary .wzkb-alert-link {
    color: #002752;
}

.wzkb-alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.wzkb-alert-secondary hr {
    border-top-color: #c8cbcf;
}

.wzkb-alert-secondary .wzkb-alert-link {
    color: #202326;
}

.wzkb-alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.wzkb-alert-success hr {
    border-top-color: #b1dfbb;
}

.wzkb-alert-success .wzkb-alert-link {
    color: #0b2e13;
}

.wzkb-alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.wzkb-alert-info hr {
    border-top-color: #abdde5;
}

.wzkb-alert-info .wzkb-alert-link {
    color: #062c33;
}

.wzkb-alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.wzkb-alert-warning hr {
    border-top-color: #ffe8a1;
}

.wzkb-alert-warning .wzkb-alert-link {
    color: #533f03;
}

.wzkb-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.wzkb-alert-danger hr {
    border-top-color: #f1b0b7;
}

.wzkb-alert-danger .wzkb-alert-link {
    color: #491217;
}

.wzkb-alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.wzkb-alert-light hr {
    border-top-color: #ececf6;
}

.wzkb-alert-light .wzkb-alert-link {
    color: #686868;
}

.wzkb-alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.wzkb-alert-dark hr {
    border-top-color: #b9bbbe;
}

.wzkb-alert-dark .wzkb-alert-link {
    color: #040505;
}

/* Related Posts */
.wzkb-related-articles {
    clear: both;
}

.wzkb-related-articles ul {
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 25px;
    column-gap: 25px;
}

.wzkb-related-articles ul li {
    width: auto;
}

.wzkb-related-articles img, .wzkb-related-articles a {
    display: block;
}