/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// widen combobox (placeholder and inspector)
.components-combobox-control__suggestions-container {
	min-width: 200px;
	max-width: 100%;
}

.components-combobox-control.wzkb-products-selector {
	.components-flex-item {
		flex: 1 1 auto;
	}

	.components-combobox-control__input {
		width: 100%;
	}

	.components-button.is-small.has-icon:not(.has-text) {
		max-width: fit-content;
	}
}