.wzkb-articles-placeholder-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 12px;
	align-items: start;
	width: 100%;
	margin-top: 18px;
}

.wzkb-articles-selector-column {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.wzkb-articles-selector-heading {
	font-size: 13px;
}

// widen combobox (placeholder and inspector)
.components-combobox-control__suggestions-container {
	min-width: 200px;
	max-width: 100%;
}

.components-combobox-control.wzkb-products-selector {
	.components-flex-item {
		flex: 1 1 auto;
	}

	.components-combobox-control__input {
		width: 100%;
	}

	.components-button.is-small.has-icon:not(.has-text) {
		max-width: fit-content;
	}
}